In [1]:
import pandas as pd

In [2]:
# Load the Excel file
file_path = 'D:\EEX_Auction_Calendar_21.06.2023.xlsx'
sheet_name = 'Details_EUA'
df = pd.read_excel(file_path, sheet_name=sheet_name, engine='openpyxl')

# Initialize variables
tables = []
current_table = None

# Iterate through rows to identify and combine tables
for index, row in df.iterrows():
    if 'Week' in str(row.values):
        if current_table is not None:
            tables.append(current_table)
        current_table = pd.DataFrame()
    if current_table is not None:
        current_table = pd.concat([current_table, pd.DataFrame(row).T], ignore_index=True)

# Append the last table (if any)
if current_table is not None:
    tables.append(current_table)

# Combine tables side by side
final_dataframe = pd.concat(tables, axis=1)

# Display the final combined dataframe
print(final_dataframe)

# You can also save it to a new Excel file
#final_dataframe.to_excel('combined_tables.xlsx', index=False)

   EEA-EFTA Unnamed: 1 Unnamed: 2 Unnamed: 3          SUCHBEGRIFF  \
0      Week        NaN   Withheld        NaN               Week 1
1      Date        NaN        NaN        NaN  2023-01-02 00:00:00
2   Holiday        NaN        NaN        NaN                  NaN
3       NaN        NaN        NaN        NaN                  NaN
4       NaN        NaN        NaN        NaN                  NaN
5       NaN        NaN        NaN        NaN                  NaN
6       NaN        NaN        NaN        NaN                  NaN
7       NaN        NaN        NaN        NaN                  NaN
8       NaN        NaN        NaN        NaN                  NaN
9       NaN        NaN        NaN        NaN                  NaN
10      NaN        NaN        NaN        NaN                  NaN
11      NaN        NaN        NaN        NaN                  NaN
12      NaN        NaN        NaN        NaN                  NaN
13      NaN        NaN        NaN        NaN                  NaN
14      NaN        NaN        NaN        NaN                  NaN
15      NaN        NaN        NaN        NaN                  NaN
16      NaN        NaN        NaN        NaN                  NaN
17      NaN        NaN        NaN        NaN                  NaN
18      NaN        NaN        NaN        NaN                  NaN
19      NaN        NaN        NaN        NaN                  NaN
20      NaN        NaN        NaN        NaN                  NaN
21      NaN        NaN        NaN        NaN                  NaN
22      NaN        NaN        NaN        NaN                  NaN
23      NaN        NaN        NaN        NaN                  NaN
24      NaN        NaN        NaN        NaN                  NaN
25      NaN        NaN        NaN        NaN                  NaN
26      NaN        NaN        NaN        NaN                  NaN
27      NaN        NaN        NaN        NaN                  NaN
28      NaN        NaN        NaN        NaN                  NaN
29      NaN        NaN        NaN        NaN                  NaN
30      NaN        NaN        NaN        NaN                  NaN
31      NaN        NaN        NaN        NaN                  NaN
32      NaN        NaN        NaN        NaN                  NaN
33      NaN        NaN        NaN        NaN                  NaN
34      NaN        NaN        NaN        NaN                  NaN
35      NaN        NaN        NaN        NaN                  NaN
36      NaN        NaN        NaN        NaN                  NaN
37      NaN        NaN        NaN        NaN                  NaN
38      NaN        NaN        NaN        NaN                  NaN

                    EUA           Unnamed: 6           Unnamed: 7  \
0                   NaN                  NaN                  NaN
1   2023-01-03 00:00:00  2023-01-04 00:00:00  2023-01-05 00:00:00
2                   NaN                  NaN                  NaN
3                   NaN                  NaN                  NaN
4                   NaN                  NaN                  NaN
5                   NaN                  NaN                  NaN
6                   NaN                  NaN                  NaN
7                   NaN                  NaN                  NaN
8                   NaN                  NaN                  NaN
9                   NaN                  NaN                  NaN
10                  NaN                  NaN                  NaN
11                  NaN                  NaN                  NaN
12                  NaN                  NaN                  NaN
13                  NaN                  NaN                  NaN
14                  NaN                  NaN                  NaN
15                  NaN                  NaN                  NaN
16                  NaN                  NaN                  NaN
17                  NaN                  NaN                  NaN
18                  NaN                  NaN                  NaN
19                  NaN                  NaN                  NaN
20                  NaN                  NaN                  NaN
21                  NaN                  NaN                  NaN
22                  NaN                  NaN                  NaN
23                  NaN                  NaN                  NaN
24                  NaN                  NaN                  NaN
25                  NaN                  NaN                  NaN
26                  NaN                  NaN                  NaN
27                  NaN                  NaN                  NaN
28                  NaN                  NaN                  NaN
29                  NaN                  NaN                  NaN
30                  NaN                  NaN                  NaN
31                  NaN                  NaN                  NaN
32                  NaN                  NaN                  NaN
33                  NaN                  NaN                  NaN
34                  NaN                  NaN                  NaN
35                  NaN                  NaN                  NaN
36                  NaN                  NaN                  NaN
37                  NaN                  NaN                  NaN
38                  NaN                  NaN                  NaN

             Unnamed: 8             EEA-EFTA  ...           Unnamed: 8  \
0                   NaN              Weekday  ...                  NaN
1   2023-01-06 00:00:00  Call Trading Period  ...  2024-01-05 00:00:00
2              Epiphany         Product Code  ...                  NaN
3                   NaN  Consolidated Volume  ...                  NaN
4                   NaN              Austria  ...                  NaN
5                   NaN              Belgium  ...                  NaN
6                   NaN             Bulgaria  ...                  NaN
7                   NaN              Croatia  ...                  NaN
8                   NaN               Cyprus  ...                  NaN
9                   NaN       Czech Republic  ...                  NaN
10                  NaN              Denmark  ...                  NaN
11                  NaN              Estonia  ...                  NaN
12                  NaN              Finland  ...                  NaN
13                  NaN               France  ...                  NaN
14                  NaN               Greece  ...                  NaN
15                  NaN              Hungary  ...                  NaN
16                  NaN              Iceland  ...                  NaN
17                  NaN              Ireland  ...                  NaN
18                  NaN                Italy  ...                  NaN
19                  NaN               Latvia  ...                  NaN
20                  NaN        Liechtenstein  ...                  NaN
21                  NaN            Lithuania  ...                  NaN
22                  NaN           Luxembourg  ...                  NaN
23                  NaN                Malta  ...                  NaN
24                  NaN          Netherlands  ...                  NaN
25                  NaN     Northern Ireland  ...                  NaN
26                  NaN               Norway  ...                  NaN
27                  NaN               Poland  ...                  NaN
28                  NaN             Portugal  ...                  NaN
29                  NaN              Romania  ...                  NaN
30                  NaN             Slovakia  ...                  NaN
31                  NaN             Slovenia  ...                  NaN
32                  NaN                Spain  ...                  NaN
33                  NaN               Sweden  ...                  NaN
34                  NaN      Innovation Fund  ...                  NaN
35                  NaN   Modernisation Fund  ...                  NaN
36                  NaN         InnoFund RRF  ...                  NaN
37                  NaN               MS RRF  ...                  NaN
38                  NaN                  NaN  ...                  NaN

               EEA-EFTA Unnamed: 1 Unnamed: 2 Unnamed: 3 SUCHBEGRIFF      EUA  \
0               Weekday        NaN        NaN        NaN      Monday  Tuesday
1   Call Trading Period        NaN        NaN        NaN         NaN      NaN
2          Product Code        NaN        NaN        NaN         NaN      NaN
3   Consolidated Volume        NaN        NaN        NaN         NaN      NaN
4               Austria        NaN        NaN        NaN         NaN      NaN
5               Belgium        NaN        NaN        NaN         NaN      NaN
6              Bulgaria        NaN        NaN        NaN         NaN      NaN
7               Croatia        NaN        NaN        NaN         NaN      NaN
8                Cyprus        NaN        NaN        NaN         NaN      NaN
9        Czech Republic        NaN        NaN        NaN         NaN      NaN
10              Denmark        NaN        NaN        NaN         NaN      NaN
11              Estonia        NaN        NaN        NaN         NaN      NaN
12              Finland        NaN        NaN        NaN         NaN      NaN
13               France        NaN        NaN        NaN         NaN      NaN
14               Greece        NaN        NaN        NaN         NaN      NaN
15              Hungary        NaN        NaN        NaN         NaN      NaN
16              Iceland        NaN        NaN        NaN         NaN      NaN
17              Ireland        NaN        NaN        NaN         NaN      NaN
18                Italy        NaN        NaN        NaN         NaN      NaN
19               Latvia        NaN        NaN        NaN         NaN      NaN
20        Liechtenstein        NaN        NaN        NaN         NaN      NaN
21            Lithuania        NaN        NaN        NaN         NaN      NaN
22           Luxembourg        NaN        NaN        NaN         NaN      NaN
23                Malta        NaN        NaN        NaN         NaN      NaN
24          Netherlands        NaN        NaN        NaN         NaN      NaN
25     Northern Ireland        NaN        NaN        NaN         NaN      NaN
26               Norway        NaN        NaN        NaN         NaN      NaN
27               Poland        NaN        NaN        NaN         NaN      NaN
28             Portugal        NaN        NaN        NaN         NaN      NaN
29              Romania        NaN        NaN        NaN         NaN      NaN
30             Slovakia        NaN        NaN        NaN         NaN      NaN
31             Slovenia        NaN        NaN        NaN         NaN      NaN
32                Spain        NaN        NaN        NaN         NaN      NaN
33               Sweden        NaN        NaN        NaN         NaN      NaN
34      Innovation Fund        NaN        NaN        NaN         NaN      NaN
35   Modernisation Fund        NaN        NaN        NaN         NaN      NaN
36         InnoFund RRF        NaN        NaN        NaN         NaN      NaN
37               MS RRF        NaN        NaN        NaN         NaN      NaN
38                  NaN        NaN        NaN        NaN         NaN      NaN

   Unnamed: 6 Unnamed: 7 Unnamed: 8
0   Wednesday   Thursday     Friday
1         NaN        NaN        NaN
2         NaN        NaN        NaN
3         NaN        NaN        NaN
4         NaN        NaN        NaN
5         NaN        NaN        NaN
6         NaN        NaN        NaN
7         NaN        NaN        NaN
8         NaN        NaN        NaN
9         NaN        NaN        NaN
10        NaN        NaN        NaN
11        NaN        NaN        NaN
12        NaN        NaN        NaN
13        NaN        NaN        NaN
14        NaN        NaN        NaN
15        NaN        NaN        NaN
16        NaN        NaN        NaN
17        NaN        NaN        NaN
18        NaN        NaN        NaN
19        NaN        NaN        NaN
20        NaN        NaN        NaN
21        NaN        NaN        NaN
22        NaN        NaN        NaN
23        NaN        NaN        NaN
24        NaN        NaN        NaN
25        NaN        NaN        NaN
26        NaN        NaN        NaN
27        NaN        NaN        NaN
28        NaN        NaN        NaN
29        NaN        NaN        NaN
30        NaN        NaN        NaN
31        NaN        NaN        NaN
32        NaN        NaN        NaN
33        NaN        NaN        NaN
34        NaN        NaN        NaN
35        NaN        NaN        NaN
36        NaN        NaN        NaN
37        NaN        NaN        NaN
38        NaN        NaN        NaN

[39 rows x 954 columns]

In [4]:
final_dataframe.to_csv(r'D:\eua_auction_calendar.csv')

In [92]:
import pandas as pd

# Load the Excel file
file_path = r'D:\EEX_Auction_Calendar_21.06.2023.xlsx'
sheet_name = 'Details_EUA'
df = pd.read_excel(file_path, sheet_name=sheet_name, engine='openpyxl')

# Initialize variables
tables = []
current_table = None
table_row_count = 0

# Iterate through rows to identify and combine tables
for index, row in df.iterrows():
    if table_row_count == 0:
        # Start of a new table
        if current_table is not None:
            tables.append(current_table)
        current_table = pd.DataFrame()
    if current_table is not None:
        if table_row_count == 0:
            # Reset column headers for a new table
            current_table = pd.DataFrame(row).T
        else:
            current_table = pd.concat([current_table, pd.DataFrame(row).T], ignore_index=True)
    table_row_count += 1

    # Check if we have processed a full table
    if table_row_count == 41:
        table_row_count = 0

# Combine tables side by side
final_dataframe = pd.concat(tables, axis=1)

# Display the final combined dataframe
print(final_dataframe)

# You can also save it to a new Excel file
#final_dataframe.to_excel('combined_tables.xlsx', index=False)

                   Week Unnamed: 1 Withheld Unnamed: 3               Week 1  \
0                  Date        NaN      NaN        NaN  2023-01-02 00:00:00
1               Holiday        NaN      NaN        NaN                  NaN
2               Weekday        NaN      NaN        NaN               Monday
3   Call Trading Period        NaN      NaN        NaN                  NaN
4          Product Code        NaN      NaN        NaN                  NaN
5   Consolidated Volume        NaN      NaN        NaN                  NaN
6               Austria        NaN      NaN        NaN                  NaN
7               Belgium        NaN      NaN        NaN                  NaN
8              Bulgaria        NaN      NaN        NaN                  NaN
9               Croatia        NaN      NaN        NaN                  NaN
10               Cyprus        NaN      NaN        NaN                  NaN
11       Czech Republic        NaN      NaN        NaN                  NaN
12              Denmark        NaN      NaN        NaN                  NaN
13              Estonia        NaN      NaN        NaN                  NaN
14              Finland        NaN      NaN        NaN                  NaN
15               France        NaN      NaN        NaN                  NaN
16               Greece        NaN      NaN        NaN                  NaN
17              Hungary        NaN      NaN        NaN                  NaN
18              Iceland        NaN      NaN        NaN                  NaN
19              Ireland        NaN      NaN        NaN                  NaN
20                Italy        NaN      NaN        NaN                  NaN
21               Latvia        NaN      NaN        NaN                  NaN
22        Liechtenstein        NaN      NaN        NaN                  NaN
23            Lithuania        NaN      NaN        NaN                  NaN
24           Luxembourg        NaN      NaN        NaN                  NaN
25                Malta        NaN      NaN        NaN                  NaN
26          Netherlands        NaN      NaN        NaN                  NaN
27     Northern Ireland        NaN      NaN        NaN                  NaN
28               Norway        NaN      NaN        NaN                  NaN
29               Poland        NaN      NaN        NaN                  NaN
30             Portugal        NaN      NaN        NaN                  NaN
31              Romania        NaN      NaN        NaN                  NaN
32             Slovakia        NaN      NaN        NaN                  NaN
33             Slovenia        NaN      NaN        NaN                  NaN
34                Spain        NaN      NaN        NaN                  NaN
35               Sweden        NaN      NaN        NaN                  NaN
36      Innovation Fund        NaN      NaN        NaN                  NaN
37   Modernisation Fund        NaN      NaN        NaN                  NaN
38         InnoFund RRF        NaN      NaN        NaN                  NaN
39               MS RRF        NaN      NaN        NaN                  NaN
40                  NaN        NaN      NaN        NaN                  NaN

             Unnamed: 5           Unnamed: 6           Unnamed: 7  \
0   2023-01-03 00:00:00  2023-01-04 00:00:00  2023-01-05 00:00:00
1                   NaN                  NaN                  NaN
2               Tuesday            Wednesday             Thursday
3                   NaN                  NaN                  NaN
4                   NaN                  NaN                  NaN
5                   NaN                  NaN                  NaN
6                   NaN                  NaN                  NaN
7                   NaN                  NaN                  NaN
8                   NaN                  NaN                  NaN
9                   NaN                  NaN                  NaN
10                  NaN                  NaN                  NaN
11                  NaN                  NaN                  NaN
12                  NaN                  NaN                  NaN
13                  NaN                  NaN                  NaN
14                  NaN                  NaN                  NaN
15                  NaN                  NaN                  NaN
16                  NaN                  NaN                  NaN
17                  NaN                  NaN                  NaN
18                  NaN                  NaN                  NaN
19                  NaN                  NaN                  NaN
20                  NaN                  NaN                  NaN
21                  NaN                  NaN                  NaN
22                  NaN                  NaN                  NaN
23                  NaN                  NaN                  NaN
24                  NaN                  NaN                  NaN
25                  NaN                  NaN                  NaN
26                  NaN                  NaN                  NaN
27                  NaN                  NaN                  NaN
28                  NaN                  NaN                  NaN
29                  NaN                  NaN                  NaN
30                  NaN                  NaN                  NaN
31                  NaN                  NaN                  NaN
32                  NaN                  NaN                  NaN
33                  NaN                  NaN                  NaN
34                  NaN                  NaN                  NaN
35                  NaN                  NaN                  NaN
36                  NaN                  NaN                  NaN
37                  NaN                  NaN                  NaN
38                  NaN                  NaN                  NaN
39                  NaN                  NaN                  NaN
40                  NaN                  NaN                  NaN

             Unnamed: 8                 Week  ...           Unnamed: 8  \
0   2023-01-06 00:00:00                 Week  ...                  NaN
1              Epiphany                 Date  ...                  NaN
2                Friday              Holiday  ...                  NaN
3                   NaN              Weekday  ...                  NaN
4                   NaN  Call Trading Period  ...                  NaN
5                   NaN         Product Code  ...                  NaN
6                   NaN  Consolidated Volume  ...                  NaN
7                   NaN              Austria  ...                  NaN
8                   NaN              Belgium  ...                  NaN
9                   NaN             Bulgaria  ...                  NaN
10                  NaN              Croatia  ...  2023-12-29 00:00:00
11                  NaN               Cyprus  ...                  NaN
12                  NaN       Czech Republic  ...               Friday
13                  NaN              Denmark  ...                  NaN
14                  NaN              Estonia  ...                  NaN
15                  NaN              Finland  ...                  NaN
16                  NaN               France  ...                  NaN
17                  NaN               Greece  ...                  NaN
18                  NaN              Hungary  ...                  NaN
19                  NaN              Iceland  ...                  NaN
20                  NaN              Ireland  ...                  NaN
21                  NaN                Italy  ...                  NaN
22                  NaN               Latvia  ...                  NaN
23                  NaN        Liechtenstein  ...                  NaN
24                  NaN            Lithuania  ...                  NaN
25                  NaN           Luxembourg  ...                  NaN
26                  NaN                Malta  ...                  NaN
27                  NaN          Netherlands  ...                  NaN
28                  NaN     Northern Ireland  ...                  NaN
29                  NaN               Norway  ...                  NaN
30                  NaN               Poland  ...                  NaN
31                  NaN             Portugal  ...                  NaN
32                  NaN              Romania  ...                  NaN
33                  NaN             Slovakia  ...                  NaN
34                  NaN             Slovenia  ...                  NaN
35                  NaN                Spain  ...                  NaN
36                  NaN               Sweden  ...                  NaN
37                  NaN      Innovation Fund  ...                  NaN
38                  NaN   Modernisation Fund  ...                  NaN
39                  NaN         InnoFund RRF  ...                  NaN
40                  NaN               MS RRF  ...                  NaN

                   Week Unnamed: 1  Withheld Unnamed: 3               Week 1  \
0               Romania        NaN       NaN        NaN                  NaN
1              Slovakia        NaN       NaN        NaN                  NaN
2              Slovenia        NaN       NaN        NaN                  NaN
3                 Spain        NaN       NaN        NaN                  NaN
4                Sweden        NaN       NaN        NaN                  NaN
5       Innovation Fund        NaN       NaN        NaN                  NaN
6    Modernisation Fund        NaN       NaN        NaN                  NaN
7          InnoFund RRF        NaN       NaN        NaN                  NaN
8                MS RRF        NaN       NaN        NaN                  NaN
9                   NaN        NaN       NaN        NaN                  NaN
10                 Week        NaN  Withheld        NaN               Week 1
11                 Date        NaN       NaN        NaN  2024-01-01 00:00:00
12              Holiday        NaN       NaN        NaN       New Year's Day
13              Weekday        NaN       NaN        NaN               Monday
14  Call Trading Period        NaN       NaN        NaN                  NaN
15         Product Code        NaN       NaN        NaN                  NaN
16  Consolidated Volume        NaN       NaN        NaN                  NaN
17              Austria        NaN       NaN        NaN                  NaN
18              Belgium        NaN       NaN        NaN                  NaN
19             Bulgaria        NaN       NaN        NaN                  NaN
20              Croatia        NaN       NaN        NaN                  NaN
21               Cyprus        NaN       NaN        NaN                  NaN
22       Czech Republic        NaN       NaN        NaN                  NaN
23              Denmark        NaN       NaN        NaN                  NaN
24              Estonia        NaN       NaN        NaN                  NaN
25              Finland        NaN       NaN        NaN                  NaN
26               France        NaN       NaN        NaN                  NaN
27               Greece        NaN       NaN        NaN                  NaN
28              Hungary        NaN       NaN        NaN                  NaN
29              Iceland        NaN       NaN        NaN                  NaN
30              Ireland        NaN       NaN        NaN                  NaN
31                Italy        NaN       NaN        NaN                  NaN
32               Latvia        NaN       NaN        NaN                  NaN
33        Liechtenstein        NaN       NaN        NaN                  NaN
34            Lithuania        NaN       NaN        NaN                  NaN
35           Luxembourg        NaN       NaN        NaN                  NaN
36                Malta        NaN       NaN        NaN                  NaN
37          Netherlands        NaN       NaN        NaN                  NaN
38     Northern Ireland        NaN       NaN        NaN                  NaN
39               Norway        NaN       NaN        NaN                  NaN
40               Poland        NaN       NaN        NaN                  NaN

             Unnamed: 5           Unnamed: 6           Unnamed: 7  \
0                   NaN                  NaN                  NaN
1                   NaN                  NaN                  NaN
2                   NaN                  NaN                  NaN
3                   NaN                  NaN                  NaN
4                   NaN                  NaN                  NaN
5                   NaN                  NaN                  NaN
6                   NaN                  NaN                  NaN
7                   NaN                  NaN                  NaN
8                   NaN                  NaN                  NaN
9                   NaN                  NaN                  NaN
10                  NaN                  NaN                  NaN
11  2024-01-02 00:00:00  2024-01-03 00:00:00  2024-01-04 00:00:00
12                  NaN                  NaN                  NaN
13              Tuesday            Wednesday             Thursday
14                  NaN                  NaN                  NaN
15                  NaN                  NaN                  NaN
16                  NaN                  NaN                  NaN
17                  NaN                  NaN                  NaN
18                  NaN                  NaN                  NaN
19                  NaN                  NaN                  NaN
20                  NaN                  NaN                  NaN
21                  NaN                  NaN                  NaN
22                  NaN                  NaN                  NaN
23                  NaN                  NaN                  NaN
24                  NaN                  NaN                  NaN
25                  NaN                  NaN                  NaN
26                  NaN                  NaN                  NaN
27                  NaN                  NaN                  NaN
28                  NaN                  NaN                  NaN
29                  NaN                  NaN                  NaN
30                  NaN                  NaN                  NaN
31                  NaN                  NaN                  NaN
32                  NaN                  NaN                  NaN
33                  NaN                  NaN                  NaN
34                  NaN                  NaN                  NaN
35                  NaN                  NaN                  NaN
36                  NaN                  NaN                  NaN
37                  NaN                  NaN                  NaN
38                  NaN                  NaN                  NaN
39                  NaN                  NaN                  NaN
40                  NaN                  NaN                  NaN

             Unnamed: 8
0                   NaN
1                   NaN
2                   NaN
3                   NaN
4                   NaN
5                   NaN
6                   NaN
7                   NaN
8                   NaN
9                   NaN
10                  NaN
11  2024-01-05 00:00:00
12                  NaN
13               Friday
14                  NaN
15                  NaN
16                  NaN
17                  NaN
18                  NaN
19                  NaN
20                  NaN
21                  NaN
22                  NaN
23                  NaN
24                  NaN
25                  NaN
26                  NaN
27                  NaN
28                  NaN
29                  NaN
30                  NaN
31                  NaN
32                  NaN
33                  NaN
34                  NaN
35                  NaN
36                  NaN
37                  NaN
38                  NaN
39                  NaN
40                  NaN

[41 rows x 486 columns]

In [98]:
df.to_csv(r'D:\eua_auction_calendar.csv')

In [28]:
import pandas as pd

# Load the Excel file
file_path = r'D:\EEX_Auction_Calendar_21.06.2023.xlsx' # Update with your file path
df = pd.read_excel(file_path, sheet_name="Details_EUA")

# Create an empty DataFrame for the wide format data
wide_df = pd.DataFrame()

# Define the number of rows in each chunk
chunk_size = 42

# Iterate through the chunks and append them side by side
for i in range(0, len(df), chunk_size):
    chunk = df.iloc[i:i+chunk_size]  # Select the chunk
    chunk.columns = range(len(chunk.columns))  # Reset column names to integers
    wide_df = pd.concat([wide_df, chunk], axis=1)

# Reset column names in the wide format DataFrame
wide_df.columns = range(len(wide_df.columns))

# Save the wide format DataFrame to a new Excel file
wide_file_path = "wide_format_data.xlsx"  # Update with your desired file path
wide_df.to_excel(wide_file_path, index=False)

print("Data has been transformed and saved to", wide_file_path)

Data has been transformed and saved to wide_format_data.xlsx

In [94]:
import pandas as pd

# Load the Excel file
excel_file = pd.ExcelFile(r'D:\EEX_Auction_Calendar_21.06.2023.xlsx')

# Name of the sheet with the tables
sheet_name = "Details_EUA"

# Fixed length of each table
table_length = 42

# Initialize an empty list to store the tables
all_tables = []

# Loop through the rows, skipping rows in between the tables
for start_row in range(0, len(excel_file.parse(sheet_name)) - table_length + 1, table_length):
    # Read each table into a DataFrame
    table_data = excel_file.parse(sheet_name, skiprows=start_row, nrows=table_length)
    all_tables.append(table_data)

# Concatenate the tables horizontally while preserving the first column in the first table
merged_tables = [all_tables[0]]
for table in all_tables[1:]:
    merged_tables.append(table.iloc[:, 1:])  # Exclude the first column in subsequent tables

# Concatenate all the tables horizontally
result = pd.concat(merged_tables, axis=1)

# Print the merged DataFrame
print(result)

                   Week Unnamed: 1  Withheld Unnamed: 3               Week 1  \
0                  Date        NaN       NaN        NaN  2023-01-02 00:00:00
1               Holiday        NaN       NaN        NaN                  NaN
2               Weekday        NaN       NaN        NaN               Monday
3   Call Trading Period        NaN       NaN        NaN                  NaN
4          Product Code        NaN       NaN        NaN                  NaN
5   Consolidated Volume        NaN       NaN        NaN                  NaN
6               Austria        NaN       NaN        NaN                  NaN
7               Belgium        NaN       NaN        NaN                  NaN
8              Bulgaria        NaN       NaN        NaN                  NaN
9               Croatia        NaN       NaN        NaN                  NaN
10               Cyprus        NaN       NaN        NaN                  NaN
11       Czech Republic        NaN       NaN        NaN                  NaN
12              Denmark        NaN       NaN        NaN                  NaN
13              Estonia        NaN       NaN        NaN                  NaN
14              Finland        NaN       NaN        NaN                  NaN
15               France        NaN       NaN        NaN                  NaN
16               Greece        NaN       NaN        NaN                  NaN
17              Hungary        NaN       NaN        NaN                  NaN
18              Iceland        NaN       NaN        NaN                  NaN
19              Ireland        NaN       NaN        NaN                  NaN
20                Italy        NaN       NaN        NaN                  NaN
21               Latvia        NaN       NaN        NaN                  NaN
22        Liechtenstein        NaN       NaN        NaN                  NaN
23            Lithuania        NaN       NaN        NaN                  NaN
24           Luxembourg        NaN       NaN        NaN                  NaN
25                Malta        NaN       NaN        NaN                  NaN
26          Netherlands        NaN       NaN        NaN                  NaN
27     Northern Ireland        NaN       NaN        NaN                  NaN
28               Norway        NaN       NaN        NaN                  NaN
29               Poland        NaN       NaN        NaN                  NaN
30             Portugal        NaN       NaN        NaN                  NaN
31              Romania        NaN       NaN        NaN                  NaN
32             Slovakia        NaN       NaN        NaN                  NaN
33             Slovenia        NaN       NaN        NaN                  NaN
34                Spain        NaN       NaN        NaN                  NaN
35               Sweden        NaN       NaN        NaN                  NaN
36      Innovation Fund        NaN       NaN        NaN                  NaN
37   Modernisation Fund        NaN       NaN        NaN                  NaN
38         InnoFund RRF        NaN       NaN        NaN                  NaN
39               MS RRF        NaN       NaN        NaN                  NaN
40                  NaN        NaN       NaN        NaN                  NaN
41                 Week        NaN  Withheld        NaN               Week 2

             Unnamed: 5           Unnamed: 6           Unnamed: 7  \
0   2023-01-03 00:00:00  2023-01-04 00:00:00  2023-01-05 00:00:00
1                   NaN                  NaN                  NaN
2               Tuesday            Wednesday             Thursday
3                   NaN                  NaN                  NaN
4                   NaN                  NaN                  NaN
5                   NaN                  NaN                  NaN
6                   NaN                  NaN                  NaN
7                   NaN                  NaN                  NaN
8                   NaN                  NaN                  NaN
9                   NaN                  NaN                  NaN
10                  NaN                  NaN                  NaN
11                  NaN                  NaN                  NaN
12                  NaN                  NaN                  NaN
13                  NaN                  NaN                  NaN
14                  NaN                  NaN                  NaN
15                  NaN                  NaN                  NaN
16                  NaN                  NaN                  NaN
17                  NaN                  NaN                  NaN
18                  NaN                  NaN                  NaN
19                  NaN                  NaN                  NaN
20                  NaN                  NaN                  NaN
21                  NaN                  NaN                  NaN
22                  NaN                  NaN                  NaN
23                  NaN                  NaN                  NaN
24                  NaN                  NaN                  NaN
25                  NaN                  NaN                  NaN
26                  NaN                  NaN                  NaN
27                  NaN                  NaN                  NaN
28                  NaN                  NaN                  NaN
29                  NaN                  NaN                  NaN
30                  NaN                  NaN                  NaN
31                  NaN                  NaN                  NaN
32                  NaN                  NaN                  NaN
33                  NaN                  NaN                  NaN
34                  NaN                  NaN                  NaN
35                  NaN                  NaN                  NaN
36                  NaN                  NaN                  NaN
37                  NaN                  NaN                  NaN
38                  NaN                  NaN                  NaN
39                  NaN                  NaN                  NaN
40                  NaN                  NaN                  NaN
41                  NaN                  NaN                  NaN

             Unnamed: 8 Unnamed: 1  ...           Unnamed: 7  \
0   2023-01-06 00:00:00        NaN  ...  2023-12-21 00:00:00
1              Epiphany        NaN  ...                  NaN
2                Friday        NaN  ...             Thursday
3                   NaN        NaN  ...                  NaN
4                   NaN        NaN  ...                  NaN
5                   NaN        NaN  ...                  NaN
6                   NaN        NaN  ...                  NaN
7                   NaN        NaN  ...                  NaN
8                   NaN        NaN  ...                  NaN
9                   NaN        NaN  ...                  NaN
10                  NaN        NaN  ...                  NaN
11                  NaN        NaN  ...                  NaN
12                  NaN        NaN  ...                  NaN
13                  NaN        NaN  ...                  NaN
14                  NaN        NaN  ...                  NaN
15                  NaN        NaN  ...                  NaN
16                  NaN        NaN  ...                  NaN
17                  NaN        NaN  ...                  NaN
18                  NaN        NaN  ...                  NaN
19                  NaN        NaN  ...                  NaN
20                  NaN        NaN  ...                  NaN
21                  NaN        NaN  ...                  NaN
22                  NaN        NaN  ...                  NaN
23                  NaN        NaN  ...                  NaN
24                  NaN        NaN  ...                  NaN
25                  NaN        NaN  ...                  NaN
26                  NaN        NaN  ...                  NaN
27                  NaN        NaN  ...                  NaN
28                  NaN        NaN  ...                  NaN
29                  NaN        NaN  ...                  NaN
30                  NaN        NaN  ...                  NaN
31                  NaN        NaN  ...                  NaN
32                  NaN        NaN  ...                  NaN
33                  NaN        NaN  ...                  NaN
34                  NaN        NaN  ...                  NaN
35                  NaN        NaN  ...                  NaN
36                  NaN        NaN  ...                  NaN
37                  NaN        NaN  ...                  NaN
38                  NaN        NaN  ...                  NaN
39                  NaN        NaN  ...                  NaN
40                  NaN        NaN  ...                  NaN
41                  NaN        NaN  ...                  NaN

             Unnamed: 8 Unnamed: 1  Withheld Unnamed: 3              Week 52  \
0   2023-12-22 00:00:00        NaN       NaN        NaN  2023-12-25 00:00:00
1                   NaN        NaN       NaN        NaN        Christmas Day
2                Friday        NaN       NaN        NaN               Monday
3                   NaN        NaN       NaN        NaN                  NaN
4                   NaN        NaN       NaN        NaN                  NaN
5                   NaN        NaN       NaN        NaN                  NaN
6                   NaN        NaN       NaN        NaN                  NaN
7                   NaN        NaN       NaN        NaN                  NaN
8                   NaN        NaN       NaN        NaN                  NaN
9                   NaN        NaN       NaN        NaN                  NaN
10                  NaN        NaN       NaN        NaN                  NaN
11                  NaN        NaN       NaN        NaN                  NaN
12                  NaN        NaN       NaN        NaN                  NaN
13                  NaN        NaN       NaN        NaN                  NaN
14                  NaN        NaN       NaN        NaN                  NaN
15                  NaN        NaN       NaN        NaN                  NaN
16                  NaN        NaN       NaN        NaN                  NaN
17                  NaN        NaN       NaN        NaN                  NaN
18                  NaN        NaN       NaN        NaN                  NaN
19                  NaN        NaN       NaN        NaN                  NaN
20                  NaN        NaN       NaN        NaN                  NaN
21                  NaN        NaN       NaN        NaN                  NaN
22                  NaN        NaN       NaN        NaN                  NaN
23                  NaN        NaN       NaN        NaN                  NaN
24                  NaN        NaN       NaN        NaN                  NaN
25                  NaN        NaN       NaN        NaN                  NaN
26                  NaN        NaN       NaN        NaN                  NaN
27                  NaN        NaN       NaN        NaN                  NaN
28                  NaN        NaN       NaN        NaN                  NaN
29                  NaN        NaN       NaN        NaN                  NaN
30                  NaN        NaN       NaN        NaN                  NaN
31                  NaN        NaN       NaN        NaN                  NaN
32                  NaN        NaN       NaN        NaN                  NaN
33                  NaN        NaN       NaN        NaN                  NaN
34                  NaN        NaN       NaN        NaN                  NaN
35                  NaN        NaN       NaN        NaN                  NaN
36                  NaN        NaN       NaN        NaN                  NaN
37                  NaN        NaN       NaN        NaN                  NaN
38                  NaN        NaN       NaN        NaN                  NaN
39                  NaN        NaN       NaN        NaN                  NaN
40                  NaN        NaN       NaN        NaN                  NaN
41                  NaN        NaN  Withheld        NaN               Week 1

             Unnamed: 5           Unnamed: 6           Unnamed: 7  \
0   2023-12-26 00:00:00  2023-12-27 00:00:00  2023-12-28 00:00:00
1            Boxing Day                  NaN                  NaN
2               Tuesday            Wednesday             Thursday
3                   NaN                  NaN                  NaN
4                   NaN                  NaN                  NaN
5                   NaN                  NaN                  NaN
6                   NaN                  NaN                  NaN
7                   NaN                  NaN                  NaN
8                   NaN                  NaN                  NaN
9                   NaN                  NaN                  NaN
10                  NaN                  NaN                  NaN
11                  NaN                  NaN                  NaN
12                  NaN                  NaN                  NaN
13                  NaN                  NaN                  NaN
14                  NaN                  NaN                  NaN
15                  NaN                  NaN                  NaN
16                  NaN                  NaN                  NaN
17                  NaN                  NaN                  NaN
18                  NaN                  NaN                  NaN
19                  NaN                  NaN                  NaN
20                  NaN                  NaN                  NaN
21                  NaN                  NaN                  NaN
22                  NaN                  NaN                  NaN
23                  NaN                  NaN                  NaN
24                  NaN                  NaN                  NaN
25                  NaN                  NaN                  NaN
26                  NaN                  NaN                  NaN
27                  NaN                  NaN                  NaN
28                  NaN                  NaN                  NaN
29                  NaN                  NaN                  NaN
30                  NaN                  NaN                  NaN
31                  NaN                  NaN                  NaN
32                  NaN                  NaN                  NaN
33                  NaN                  NaN                  NaN
34                  NaN                  NaN                  NaN
35                  NaN                  NaN                  NaN
36                  NaN                  NaN                  NaN
37                  NaN                  NaN                  NaN
38                  NaN                  NaN                  NaN
39                  NaN                  NaN                  NaN
40                  NaN                  NaN                  NaN
41                  NaN                  NaN                  NaN

             Unnamed: 8
0   2023-12-29 00:00:00
1                   NaN
2                Friday
3                   NaN
4                   NaN
5                   NaN
6                   NaN
7                   NaN
8                   NaN
9                   NaN
10                  NaN
11                  NaN
12                  NaN
13                  NaN
14                  NaN
15                  NaN
16                  NaN
17                  NaN
18                  NaN
19                  NaN
20                  NaN
21                  NaN
22                  NaN
23                  NaN
24                  NaN
25                  NaN
26                  NaN
27                  NaN
28                  NaN
29                  NaN
30                  NaN
31                  NaN
32                  NaN
33                  NaN
34                  NaN
35                  NaN
36                  NaN
37                  NaN
38                  NaN
39                  NaN
40                  NaN
41                  NaN

[42 rows x 417 columns]

In [28]:
result

,Week,Unnamed: 1,Withheld,Unnamed: 3,Week 1,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 1,...,Unnamed: 7,Unnamed: 8,Unnamed: 1,Withheld,Unnamed: 3,Week 52,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,Date,NaN,NaN,NaN,2023-01-02 00:00:00,2023-01-03 00:00:00,2023-01-04 00:00:00,2023-01-05 00:00:00,2023-01-06 00:00:00,NaN,...,2023-12-21 00:00:00,2023-12-22 00:00:00,NaN,NaN,NaN,2023-12-25 00:00:00,2023-12-26 00:00:00,2023-12-27 00:00:00,2023-12-28 00:00:00,2023-12-29 00:00:00
1,Holiday,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Epiphany,NaN,...,NaN,NaN,NaN,NaN,NaN,Christmas Day,Boxing Day,NaN,NaN,NaN
2,Weekday,NaN,NaN,NaN,Monday,Tuesday,Wednesday,Thursday,Friday,NaN,...,Thursday,Friday,NaN,NaN,NaN,Monday,Tuesday,Wednesday,Thursday,Friday
3,Call Trading Period,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Product Code,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Consolidated Volume,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Austria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Belgium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Bulgaria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Croatia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Cyprus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Czech Republic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Denmark,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Estonia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Finland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,France,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Greece,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Hungary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Iceland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Ireland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Italy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Latvia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Liechtenstein,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Lithuania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Luxembourg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Malta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Netherlands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Northern Ireland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Norway,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Poland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Portugal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Romania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Slovakia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Slovenia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Spain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Sweden,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Innovation Fund,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Modernisation Fund,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,InnoFund RRF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,MS RRF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,Week,NaN,Withheld,NaN,Week 2,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Withheld,NaN,Week 1,NaN,NaN,NaN,NaN

In [96]:
import pandas as pd

# Read the CSV file into a DataFrame
df = pd.read_csv('D:\eua_auction_calendar.csv')

# Drop columns containing specified substrings
substrings_to_drop = ["Unnamed: 1", "Unnamed: 3", "Withheld"]

# Filter columns to drop
columns_to_drop = [col for col in df.columns if any(substring in col for substring in substrings_to_drop)]
df = df.drop(columns=columns_to_drop)

In [97]:
df

,Unnamed: 0,Week,Week 1,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Week 2,Unnamed: 5.1,Unnamed: 6.1,...,Week 51,Unnamed: 5.50,Unnamed: 6.50,Unnamed: 7.50,Unnamed: 8.50,Week 52,Unnamed: 5.51,Unnamed: 6.51,Unnamed: 7.51,Unnamed: 8.51
0,0,Date,2023-01-02 00:00:00,2023-01-03 00:00:00,2023-01-04 00:00:00,2023-01-05 00:00:00,2023-01-06 00:00:00,2023-01-09 00:00:00,2023-01-10 00:00:00,2023-01-11 00:00:00,...,2023-12-18 00:00:00,2023-12-19 00:00:00,2023-12-20 00:00:00,2023-12-21 00:00:00,2023-12-22 00:00:00,2023-12-25 00:00:00,2023-12-26 00:00:00,2023-12-27 00:00:00,2023-12-28 00:00:00,2023-12-29 00:00:00
1,1,Holiday,NaN,NaN,NaN,NaN,Epiphany,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Christmas Day,Boxing Day,NaN,NaN,NaN
2,2,Weekday,Monday,Tuesday,Wednesday,Thursday,Friday,Monday,Tuesday,Wednesday,...,Monday,Tuesday,Wednesday,Thursday,Friday,Monday,Tuesday,Wednesday,Thursday,Friday
3,3,Call Trading Period,NaN,NaN,NaN,NaN,NaN,09.00 am - 11.00 am,09.00 am - 11.00 am,NaN,...,09.00 am - 11.00 am,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Product Code,NaN,NaN,NaN,NaN,NaN,T3PA,T3PA,NaN,...,T3PA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,Consolidated Volume,NaN,NaN,NaN,NaN,NaN,2409000,2409000,NaN,...,3041500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6,Austria,NaN,NaN,NaN,NaN,NaN,34500,34500,NaN,...,50000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7,Belgium,NaN,NaN,NaN,NaN,NaN,60000,60000,NaN,...,82000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8,Bulgaria,NaN,NaN,NaN,NaN,NaN,99000,99000,NaN,...,102000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9,Croatia,NaN,NaN,NaN,NaN,NaN,12500,12500,NaN,...,19000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,10,Cyprus,NaN,NaN,NaN,NaN,NaN,9000,9000,NaN,...,2500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,11,Czech Republic,NaN,NaN,NaN,NaN,NaN,60000,60000,NaN,...,95000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,12,Denmark,NaN,NaN,NaN,NaN,NaN,32500,32500,NaN,...,32000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,13,Estonia,NaN,NaN,NaN,NaN,NaN,30000,30000,NaN,...,32500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,14,Finland,NaN,NaN,NaN,NaN,NaN,46500,46500,NaN,...,65500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,15,France,NaN,NaN,NaN,NaN,NaN,169000,169000,NaN,...,198000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,16,Greece,NaN,NaN,NaN,NaN,NaN,120000,120000,NaN,...,142500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,17,Hungary,NaN,NaN,NaN,NaN,NaN,35500,35500,NaN,...,34500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,18,Iceland,NaN,NaN,NaN,NaN,NaN,0,0,NaN,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,19,Ireland,NaN,NaN,NaN,NaN,NaN,11000,11000,NaN,...,26500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,20,Italy,NaN,NaN,NaN,NaN,NaN,291500,291500,NaN,...,355500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,21,Latvia,NaN,NaN,NaN,NaN,NaN,7500,7500,NaN,...,3500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,22,Liechtenstein,NaN,NaN,NaN,NaN,NaN,0,0,NaN,...,500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,23,Lithuania,NaN,NaN,NaN,NaN,NaN,9000,9000,NaN,...,21000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,24,Luxembourg,NaN,NaN,NaN,NaN,NaN,0,0,NaN,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,25,Malta,NaN,NaN,NaN,NaN,NaN,3500,3500,NaN,...,9000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,26,Netherlands,NaN,NaN,NaN,NaN,NaN,103500,103500,NaN,...,118500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,27,Northern Ireland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,28,Norway,NaN,NaN,NaN,NaN,NaN,19500,19500,NaN,...,19000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,29,Poland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,30,Portugal,NaN,NaN,NaN,NaN,NaN,60500,60500,NaN,...,79500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,31,Romania,NaN,NaN,NaN,NaN,NaN,44000,44000,NaN,...,66500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,32,Slovakia,NaN,NaN,NaN,NaN,NaN,31000,31000,NaN,...,38000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,33,Slovenia,NaN,NaN,NaN,NaN,NaN,15500,15500,NaN,...,9000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,34,Spain,NaN,NaN,NaN,NaN,NaN,291500,291500,NaN,...,346500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,35,Sweden,NaN,NaN,NaN,NaN,NaN,25000,25000,NaN,...,29500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,36,Innovation Fund,NaN,NaN,NaN,NaN,NaN,294000,294000,NaN,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,37,Modernisation Fund,NaN,NaN,NaN,NaN,NaN,493500,493500,NaN,...,490500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,38,InnoFund RRF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,310000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,39,MS RRF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,263000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,41,Week,Week 2,NaN,NaN,NaN,NaN,Week 3,NaN,NaN,...,Week 52,NaN,NaN,NaN,NaN,Week 1,NaN,NaN,NaN,NaN

In [104]:
df = pd.read_csv(r'D:\eua_auction_calendar1.csv')

# Remove the last two rows
df = df.iloc[:-2]

# Display the modified DataFrame
df.head(10)

,Date,02-01-2023 00:00,03-01-2023 00:00,04-01-2023 00:00,05-01-2023 00:00,06-01-2023 00:00,09-01-2023 00:00,10-01-2023 00:00,11-01-2023 00:00,12-01-2023 00:00,...,18-12-2023 00:00,19-12-2023 00:00,20-12-2023 00:00,21-12-2023 00:00,22-12-2023 00:00,25-12-2023 00:00,26-12-2023 00:00,27-12-2023 00:00,28-12-2023 00:00,29-12-2023 00:00
0,Consolidated Volume,NaN,NaN,NaN,NaN,NaN,2409000,2409000.0,NaN,2409000.0,...,3041500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Austria,NaN,NaN,NaN,NaN,NaN,34500,34500.0,NaN,34500.0,...,50000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Belgium,NaN,NaN,NaN,NaN,NaN,60000,60000.0,NaN,60000.0,...,82000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Bulgaria,NaN,NaN,NaN,NaN,NaN,99000,99000.0,NaN,99000.0,...,102000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Croatia,NaN,NaN,NaN,NaN,NaN,12500,12500.0,NaN,12500.0,...,19000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Cyprus,NaN,NaN,NaN,NaN,NaN,9000,9000.0,NaN,9000.0,...,2500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Czech Republic,NaN,NaN,NaN,NaN,NaN,60000,60000.0,NaN,60000.0,...,95000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Denmark,NaN,NaN,NaN,NaN,NaN,32500,32500.0,NaN,32500.0,...,32000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Estonia,NaN,NaN,NaN,NaN,NaN,30000,30000.0,NaN,30000.0,...,32500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Finland,NaN,NaN,NaN,NaN,NaN,46500,46500.0,NaN,46500.0,...,65500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [105]:
df2 = pd.melt(df, id_vars=['Date'], var_name='date', value_name='Volume')

# Sort the melted DataFrame by date
df3 = df2.sort_values(['date', 'Date']).reset_index(drop=True)
df4 = df.T

In [106]:
df4.to_csv(r'D:\date_auction2.csv')

In [84]:



# Extract the date part and format it as 'dd-mm-yyyy'
df3['date'] = pd.to_datetime(df3['date'], format='%d-%m-%Y %H:%M')

# Extract the date part and format it as 'dd-mm-yyyy'
df3['date'] = df3['date'].dt.strftime('%d-%m-%Y')

In [85]:
df3

                     Date        date      Value
0                 Austria  01-02-2023        NaN
1                 Belgium  01-02-2023        NaN
2                Bulgaria  01-02-2023        NaN
3     Consolidated Volume  01-02-2023  2676000.0
4                 Croatia  01-02-2023        NaN
...                   ...         ...        ...
9095              Romania  31-10-2023    64500.0
9096             Slovakia  31-10-2023    38500.0
9097             Slovenia  31-10-2023    18500.0
9098                Spain  31-10-2023   348000.0
9099               Sweden  31-10-2023    31000.0

[9100 rows x 3 columns]

In [91]:
import pandas as pd

# Load the Excel file
file_path = r'D:\EEX_Auction_Calendar_21.06.2023.xlsx'
sheet_name = 'Details_EUA'

# Define a dictionary to set all column data types to str
dtype_dict = {col: str for col in range(41)}  # Assuming you have 41 columns

df = pd.read_excel(file_path, sheet_name=sheet_name, engine='openpyxl', dtype=dtype_dict)

# Initialize variables
tables = []
current_table = None
table_row_count = 0

# Iterate through rows to identify and combine tables
for index, row in df.iterrows():
    if table_row_count == 0:
        # Start of a new table
        if current_table is not None:
            tables.append(current_table)
        current_table = pd.DataFrame()
    if current_table is not None:
        if table_row_count == 0:
            # Reset column headers for a new table
            current_table = pd.DataFrame(row).T
        else:
            current_table = pd.concat([current_table, pd.DataFrame(row).T], ignore_index=True)
    table_row_count += 1

    # Check if we have processed a full table
    if table_row_count == 41:
        table_row_count = 0

# Combine tables side by side
final_dataframe = pd.concat(tables, axis=1)

# Display the final combined dataframe
print(final_dataframe)

# You can also save it to a new Excel file
#final_dataframe.to_excel('combined_tables.xlsx', index=False)

IndexError: list index out of range (sheet: Details_EUA)